
@{
    ViewData["Title"] = "ChangePassword";
}

<h1>ChangePassword</h1>
<form method ="post" asp-action="ChangePassword">
    <input name="email" type="text" />
    <input name="password" type="text">
    <input name="baru" type="text">
    <button type="submit">change</button>


</form>
