
@{
    ViewData["Title"] = "ForgotPassword";
}

<h1>ForgotPassword</h1>

<form method ="post" asp-action="ForgotPassword">
    <input name="email" placeholder="email" type="text" />
    <input name="password"placeholder="pasword" type="text">
    <input name="baru"placeholder="pasword" type="text">

    <button type="submit">forgot</button>


</form>